<template>
  <div>
    <h1>Register</h1>
    <form v-on:submit.prevent="addItem">
      <p v-if="errors.length" class="error">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
      </ul>
      </p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" id="name" class="form-control" v-model="item.name">
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Email:</label>
              <input type="text" id="email" class="form-control" v-model="item.email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Password:</label>
              <input type="password" id="password" class="form-control" v-model="item.password">
            </div>
          </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Create</button>
        </div>
    </form>
  </div>
</template>
<script>
export default {
    name: 'CreateUser',
    data(){
        return{
          errors: [],
          item:{
            name: null,
            email: null,
            password: null
          }
        }
    },
    methods: {
      addItem(){
        this.errors = [];
        if (!this.item.name) {
          this.errors.push('Name required.');
        }
        if (!this.item.email) {
          this.errors.push('Email required.');
        } else if (!this.validEmail(this.item.email)) {
          this.errors.push('Valid email required.');
        }
        if (!this.item.password) {
          this.errors.push('Password required.');
        } else if(this.item.password.length < 8){
          this.errors.push('Password should be minimum 8 chars.');
        }
        if (!this.errors.length) {
          this.$store.dispatch('addItem', this.item);
          this.$router.push({name: 'DisplayUser'});
        }
      },
      validEmail(email) {
      var re = /^([A-Za-z0-9_\-.]+@([A-Za-z0-9_\-.])+.([A-Za-z]{2,4}))$/;
      return re.test(email);
      }
    }
}
</script>
<style lang="scss">
$color : red;
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $color;
}
li::before{
  content:'* ';
}
</style>
