<template>
    <div>
        <h1>Users</h1>

        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2 contentRight">
            <router-link :to="{ name: 'CreateUser' }" class="btn btn-primary">Create User</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <!-- <td>Password</td> -->
                <td>Actions</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="item in items" v-bind:key="item._id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <!-- <td>{{ item.password }}</td> -->
                    <td><router-link :to="{name: 'EditUser', params: { id: item._id }}" class="btn btn-primary">Edit</router-link> | <button class="btn btn-danger" v-on:click="deleteItem(item)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        name : 'DisplayUser',
        mounted () {
            this.$store.dispatch('loadItems')
        },
        computed: mapState([
            'items'
        ]),
        methods: {
            deleteItem(item) {
                this.$store.dispatch('removeItem', item)
            }
        }
    }
</script>

<style lang="scss">
$right : right;
.contentRight {
  text-align: $right;
}
table {
    thead{
        font-weight: bold;
    }
}
</style>