<template>
    <div>
        <h1>Edit User</h1>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2 contentRight"><router-link :to="{ name: 'DisplayUser' }" class="btn btn-success">Return to Users</router-link></div>
        </div>

        <form v-on:submit.prevent="updateItem">
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="item.name">
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                    <label name="product_price">Email</label>
                    <input type="text" class="form-control" v-model="item.email">
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                    <label name="product_price">Password</label>
                    <input type="password" class="form-control" v-model="item.password">
                </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                item:{}
            }
        },
        created: function(){
            this.getItem();
        },

        methods: {
            getItem()
            {
                this.$store.dispatch('getItem', this.$route.params.id);
                this.item = this.$store.state.selectedItem;
            },
            updateItem()
            {
                this.$store.dispatch('updateItem', this.item);
                this.$router.push({name: 'DisplayUser'});
            }
        }
    }
</script>

<style lang="scss">
$right : right;
.contentRight {
  text-align: $right;
}
</style>